<div class="well well-sm ">

	<h3><strong>Instala Rails like a Boss!</strong></h3>
	

</div>

<center>
	<div class="container">
		<h1>Primero elige que tipo de sistema operativo tienes</h1>


		<%= link_to 'Windows', win_1_path, class: "btn btn-primary btn-lg" %>

		<%= link_to 'Mac', mac1_path, class: "btn btn-primary btn-lg" %>

	</div>

</center>