%center{:style => 'margin-bottom:40px'}
  %h1{:style => "margin-top: 10px"} Primero elige que tipo de sistema operativo tienes

.col-md-2.col-md-offset-3
  %center
    %p{:style => "padding-top:20px"}
      %img{:src => "win.png"}/
    %p{:style => "padding-top:20px"}
      = link_to 'Windows', win_1_path, class: "btn btn-primary btn-lg btn-block"


.col-md-2.col-md-offset-2
  %center
    %p{:style => "padding-top:20px"}
      %img{:src => "mac.png"}/
    %p{:style => "padding-top:20px"}
      = link_to 'Mac', mac1_path, class: "btn btn-primary btn-lg btn-block"