<div class="jumbotron" style="background-color: brown; color: white" >
	<div class="container">

		<h1>Instalar Git</h1>

		<p>1- En tu terminal escribe: </p>

		<div class="well well-sm " style="color: black">brew install git</div>

		<p>2- Para verificar tu instalación, en el terminal escribe:</p>

		<div class="well well-sm " style="color: black">git --version</div>

		<p>Resultado esperado:</p>

		<p>git version 1.x.x</p>


	</div>
</div>
<center>
	<%= link_to 'Atrás', homebrew_path, class: "btn btn-primary btn-lg" %>
	<%= link_to 'Siguiente', git2_path, class: "btn btn-primary btn-lg" %>

</center>

