<h1>Configurar Git</h1>

<p>1- En el terminal escribe:</p>

<div class="well well-sm " style="color: black">git config --global user.name "escribir acá tu nombre sin tildes ni usando letra ñ"</div>

<p>2- Luego escribe:</p>

<div class="well well-sm " style="color: black">git config --global user.email "escribir acá tu email"</div>

<p>3- Para verificar la instalación, escribe:</p>

<div class="well well-sm " style="color: black">git config --get user.name</div>

<p>4- Tu nombre debería aparecer. Ahora escribe:</p>

<div class="well well-sm " style="color: black">git config --get user.email</div>

<p>Tu email debería aparecer</p>

<center>
		<%= link_to 'Atrás', git_path, class: "btn btn-primary btn-lg" %>
		<%= link_to 'Siguiente', rvm_path, class: "btn btn-primary btn-lg" %>

	</center>
