

<div class="jumbotron center">
  <div class="container">
    <h1>Instalar Rails!</h1>
    <p>Fácil fácil, instrucciones paso a paso</p>
    <p> 
		<%= link_to 'Intalar ahora', elige_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>



