

	<div style= "background-image: url(home-bg.jpg); padding-top:5px; background-size: 2800px 100%; background-repeat:no-repeat; margin-bottom: -10px"  >
		<center>
			<h1 style="font-size: 100px; padding-top:80px"> Instalar Ruby on Rails!</h1>
			<p style="font-size: 80px; padding-top:5px">Guía paso-paso</p>
			<p> 
				<div class="row">
				<div class="col-md-4 col-md-offset-4">
				<%= link_to 'INSTALAR AHORA', elige_path, class: "btn btn-primary btn-lg btn-block" %>
				</div>
				</div>
			</p>
</center>
	</div>

<div class="jumbotron" style="background-color: brown; color: white" >

<div class="row">
				<div class="col-md-3 col-md-offset-2"><h2> ¿Qué hay acá?</h2>
					<p style="font-size: 15px"> Pasos de cómo instalar todo lo necesario para que empieces a programar en Rails de la forma más fácil.</p>
				</div>
				<div class="col-md-3 col-md-offset-3 "><h2> ¿Cómo funciona?</h2>
					<p style="font-size: 15px"> Sigue las instrucciones y verás como instalar Rails, Ruby, Sublime (editor de texto para escribir código).</p>
				</div>
			</div>
</div> 



