<div class="jumbotron" style="background-color: brown; color: white" >
	<div class="container">

<h1> Instalar Homebrew</h1>

<p>En tu terminal escribe:</p>

<div class="well well-sm " style="color: black">ruby -e "$(curl -fsSL https://raw.github.com/mxcl/homebrew/go)"</div>

<p style= "font-size: 12px">Nota: Si lo anterior no funciona, anda a: ( <%= link_to "https://github.com/mxcl/homebrew/wiki/installation", "https://github.com/mxcl/homebrew/wiki/installation" %>) y sigue las instrucciones<p>

<p>Para verificar tu instalación, en el Terminal escribe:</p>

<div class="well well-sm " style="color: black">brew -v</div>

<p>Resultado esperado:</p>

<p>Homebrew 0.9.X</p>

</div>
</div>

	<center>
		<%= link_to 'Atrás', mac1_path, class: "btn btn-primary btn-lg" %>
		<%= link_to 'Siguiente', git_path, class: "btn btn-primary btn-lg" %>

	</center>

