<div class="well well-sm ">
	<h3><strong>Instala Rails like a Boss!</strong></h3>
</div>

mac1
<h1> Primero! </h1>

<h2> Ingresar a App Store (la que puedes encontrar en la carpeta Aplicaciones) </h2>

<ol> 
<li> Buscar en el App Store XCode </li>
<li> Instalar o actualizar XCode en la appstore </li>
<li> Reiniciar el computador </li>
</ol>

<center>
	<%= link_to 'Atrás', elige_path, class: "btn btn-primary btn-lg" %>
	<%= link_to 'Siguiente', mac2_path, class: "btn btn-primary btn-lg" %>

</center>
