<div class="well well-sm ">
	<h3><strong>Instala Rails like a Boss!</strong></h3>
</div>

<div class="container">
<h2> A instalar Rails!!</h2>
	<ol  style= "font-size: 15px" >
		<li> Ingresa a: <%= link_to 'www.railsinstaller.com', "http://www.railsinstaller.com/" %>  y elige la versión de tu Mac</li>
		<img src="http://installrails.com/assets/railsinstaller-mac-windows-1e6684039f2d9f221d7349183560556d.jpg">
		<li> Luego de que se ha descargado totalmente el archivo, dale doble click para abrirlo.</li>
		<li> Dale click "Next" a todos los pasos, esta bien dejar la configuración por defecto.
		</li>
		<li> Cuando se te solicite,  escribe tu nombre y correo electrónico.
(No te preocupes, nadie verá estos datos por lo que te enviaran SPAM).
		</li>

	</ol>
</div>

<center>
	<%= link_to 'Atrás', mac2_path, class: "btn btn-primary btn-lg" %>
	<%= link_to 'Siguiente', mac4_path, class: "btn btn-primary btn-lg" %>	
</center>
