<div class="well well-sm ">
	<h3><strong>Instala Rails like a Boss!</strong></h3>
</div>

mac5


<center>
<%= link_to 'Atrás', mac4_path, class: "btn btn-primary btn-lg" %>
<%= link_to 'Siguiente', mac6_path, class: "btn btn-primary btn-lg" %>
</center>
