<div class="well well-sm ">
	<h3><strong>Instala Rails like a Boss!</strong></h3>
</div>
<div class="jumbotron" style="background-color:  orange; color: white" >
	<div class="container">

<h1>Instalar Rails</h1>

<p>1- En el terminal escribe:</p>

<div class="well well-sm " style="color: black">gem install rails</div>

<p>2- Para verificar la instalación, en tu terminal escribe:</p>

<div class="well well-sm " style="color: black">rails -v</div>

<p>El resultado esperado es:</p>

<p>Rails 3.2</p>

</div>
</div>
<center>
		<%= link_to 'Atrás', rvm_path, class: "btn btn-primary btn-lg" %>
		<%= link_to 'Siguiente', text95_path, class: "btn btn-primary btn-lg" %>

	</center>