<div class="jumbotron" style="background-color: purple; color: white" >
	<div class="container">

		<h1>Instalar RVM y Ruby</h1>

		<p>1- Para instalar RVM, escribe esto en el terminal:</p>

		<div class="well well-sm " style="color: black">curl -L get.rvm.io | bash -s stable</div>

		<p>2- Cierra el terminal y luego ábrelo</p>

		<p>3- Para instalar Ruby, escribe el terminal esto:</p>

		<div class="well well-sm " style="color: black">rvm install 2.0.0</div>
		<p>
			(Nota: Esto instalará Ruby y puede demorar un poco. Si tu obtienes página entera de instrucciones, comenzando con 'Ruby y las gemas base necesarias para tu elección...', debes presionar Q para saltar eso. Si rvm install 2.0.0 dice: autoreconf was not found in the PATH, escribe esto en el terminal: brew install automake
		</p>
	</div>
</div>

<center>
	<%= link_to 'Atrás', git2_path, class: "btn btn-primary btn-lg" %>
	<%= link_to 'Siguiente', railsmac95_path, class: "btn btn-primary btn-lg" %>

</center>

