
		<h1>Instalar RVM y Ruby</h1>

		<p>1- Para instalar RVM y ruby simultaneamente escribe esto en el terminal:</p>

		<div class="well well-sm " style="color: black">\curl -L https://get.rvm.io | bash -s stable --ruby</div>

		<p>
			(Nota: Esto instalar치 Ruby y puede demorar un poco. Si tu obtienes p치gina entera de instrucciones, comenzando con 'Ruby y las gemas base necesarias para tu elecci칩n...', debes presionar Q para saltar eso. Si rvm install 2.0.0 dice: autoreconf was not found in the PATH, escribe esto en el terminal: brew install automake
		</p>

<center>
	<%= link_to 'Atr치s', git2_path, class: "btn btn-primary btn-lg" %>
	<%= link_to 'Siguiente', railsmac95_path, class: "btn btn-primary btn-lg" %>

</center>

