
<div class="jumbotron" style="background-color: brown; color: white" >
	<div class="container">
	<h2>Command line</h2>
		<p>1- Abrir cmd (Esto lo puedes haciendo click en el botón windows <img src="bot-win.png" class="img-rounded"> y luego escribiendo cmd)</p>
		<img src= "cmd.png" class="img-rounded">

		<p>2- En el terminal escribir:</p>
		<div class="well well-sm " style="color: black">gem install rails</div>
		<p>3- Para verificar la instalación, escribir en el terminal:</p>
		<div class="well well-sm " style="color: black">rails -v</div>
		<p>4- Resultado esperado</p>
		<p> Rails 4.0</p>

	</div>
</div>
	<center>
		<%= link_to 'Atrás', win_1_path, class: "btn btn-primary btn-lg " %>
		<%= link_to 'Siguiente', win_3_path, class: "btn btn-primary btn-lg" %>

	</center>

</div>

