<div class="jumbotron" style="background-color: brown; color: white" >
	<div class="container">
	<h1>Instalar editor de texto: Sublime Text</h1>
		<p style="padding-top: 20px">1- Para descargar "Sublime Text" ingresa a: <a href="http://www.sublimetext.com/" target="_blank"> www.sublimetext.com</a>  y luego anda "Download".</p>
		<img src= "sublime.png" class="img-rounded">
		<p style="padding-top: 20px">2- Te recomendamos usar la versión 3, así que dale click en Sublime Text 3</p>
		<img src= "sublime2.png" class="img-rounded">
		<p style="padding-top: 20px">3- Luego haz click en la versión de windows que corresponda. Si no sabes cual tienes no importa e instala la de color azul.</p>
		<p style="font-size: 20px; color: black"> <strong>Nota: </strong>Si te preguntas qué es "portable version". Es una versión del programa que no es necesario instalar, y de hecho en caso de que quieras usar el programa Sublime Text en otro pc sin tener que instalar nada, simplemente copias los archivos y pegas en otro pc. Sin embargo no la recomendamos ya que es más probable que te produzca errores.  </p>
		<img src= "sublime3win.png" class="img-rounded">
		<p style="padding-top: 20px">4- Luego que el archivo ha sido descargado totalmente,  haz doble click en el archivo y sigue los pasos de la instalación, puedes darle con confianza en "Next" en cada ventana.</p>
	</div>
</div>
<center>
	<%= link_to 'Atrás', win_2_path, class: "btn btn-primary btn-lg" %>
	<%= link_to 'Siguiente', final_path, class: "btn btn-primary btn-lg" %>
</center>




