<div class="jumbotron" style="background-color: purple; color: white" >
	<div class="container" >
		<h1> Instalando Rails </h1>

		<ol>
			<li> Primero que todo debes: <%= link_to "Descargar RailsInstaller", "railsinstaller-3.0.0.exe" %>
			<% if false %>
			ESTO ES UN COMENTARIO HASTA EL END
			<li> Ingresa a: <%= link_to 'www.railsinstaller.com', "http://www.railsinstaller.com/", target:"_blank" %> y escoge versión de windows de más a la izquierda.</li>			

			<a href= "http://www.railsinstaller.com/" , target="_blank" ><img src="irails.png"></a>
			<% end %>
			
			<li> Luego de que se ha descargado totalmente el archivo, dale doble click para abrirlo.</li>

			<li> Dale click "Next" a todos los pasos, esta bien dejar la configuración por defecto.
			</li>
			<img src="setup.png">
			<li> Cuando se te solicite,  escribe tu nombre y correo electrónico.
				(No te preocupes, nadie verá estos datos por lo No te enviaran SPAM).
			</li>

		</ol>

	</div>

	<center>
		<%= link_to 'Atrás', elige_path, class: "btn btn-primary btn-lg " %>
		<%= link_to 'Siguiente', win_2_path, class: "btn btn-primary btn-lg" %>
	</center>
	

</div>

