<div class="well well-sm ">
	<h3><strong>Instala Rails like a Boss!</strong></h3>
</div>

win_4

<%= link_to 'Atrás', win_3_path, class: "btn btn-primary btn-lg" %>
<%= link_to 'Siguiente', "#", class: "btn btn-primary btn-lg" %>

