<hr>

<center>
<div style="background-color: white; font-size:140% ">  
	<strong><%=link_to "En 1 Mes","http://www.en1mes.com/"%> </strong>te hace la vida más fácil.</div> 
</div>
</center>

<hr>
