<center>
<div style="background-color: white ">  
	De modo de ayudarte a empezar, siempre apoyándote <%=link_to "En 1 Mes (www.en1mes.com)","www.en1mes.com"%> te hace la vida más fácil.</div> 
</div>
</center>